.nav-bar {background-color:#0e60da;
    
    
    
    

}
h2{color:white}
h4 {color:blue;}

a {color: white;
    font-size: 1.5rem;
}

h5 {padding-right:10%;
    color:white;
}
    

.curses {background-color:lightgray;
margin-top:5%;
}

.active {
    font-weight:bold;}

.rows-orange {background-color:orange;
    display:flex;

}
.boxes {
    text-align: center;
    background-color:#DDDEE0;
    margin:3%;
    
}
.center-box {
    padding-top: 30%;
    padding-bottom:30%;
    font-size:30;
}